In [1]:
catalog.list()

['p18_19_0',
 'p18_19_1',
 'p18_19_3',
 'p18_19_5',
 'qld_p18_19',
 'qld_all',
 'parameters']

In [2]:
sheet_names = ['pg 5 workforce at a glance', 'pg 6 ', 'pg 7 workforce size', 'pg 9 occupation type', 'pg 10 and 11 location', 'pg 12 employment type', 'pg 13 diversity', 'pg 14 workforce earnings', 'pg 15 age', 'pg 16 and 17 appt type', 'pg 18 and 19 gender', 'pg 20  employment status', 'pg 20 appointment type']

In [3]:
sheet = catalog.load(
    'qld_all')

2023-04-26 11:25:43,429 - kedro.io.data_catalog - INFO - Loading data from 'qld_all' (ExcelDataSet)...

In [4]:
sheet.get('pg 5 workforce at a glance')

                                                    0         1
0                                              Sector     FTE %
1                                       Health sector       0.4
2                                   Education sector*      0.34
3                                      Rest of sector      0.26
4                                                 NaN       NaN
5                                     Occupation type     FTE %
6   Frontline (including key frontline roles) and ...    0.9125
7                                     Corporate roles    0.0875
8                                                 NaN       NaN
9                                 Key frontline roles       FTE
10                         Teachers and teacher aides   58234.2
11                                Nurses and midwives  35769.03
12                                             Police  11979.25
13  Allied health (health practitioners, and profe...   11676.7
14                                            Doctors  10339.29
15                                 Ambulance officers   4542.47
16                              Correctional officers   3693.63
17                                       Firefighters   2547.31
18                           TAFE teachers and tutors   1823.59
19                          Child safety case workers    1691.6
20                         Disability support workers    1066.2
21                             Youth and case workers    802.08
22                                                NaN       NaN
23                                                NaN       NaN
24         *Education sector includes TAFE Queensland       NaN